# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
*.iws
.vscode/

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan